.App {
  text-align: center;
}

.App-board{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 50px;
  height: 600px;
  width: 600px;
}


